body {
    background-image: url("../img/maitelogo.svg");
    background-color: blue;
    background-position-x: 0%;
    background-position-y: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

#wrapper {
    background-color: white;
    margin: 5rem;
    padding: 7rem;
   display:flex;
   flex-direction: row;
   justify-content: space-between;

}

.side {
    flex-basis: 80;
    padding: 3rem;
}

.content {
     flex-basis: 20;
    padding: 3rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: blue;
    font-weight: 700;
    font-size: 2.5rem;
}

h2 {
    margin-top: 6rem;
    font-weight: 100;
    text-align: left;
    font-size: 1.3rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: blue;
}

ul {
    margin-bottom: 2rem;
    padding-left: 0rem;
}

li {
    list-style-type: none;
    color: blue;
    width: 2rem;
    margin-bottom: 0.4rem;
}

#download {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 100;
    background-color: blue;
    border: none;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;

}