// colors
$color01: blue;
$color02: white;

// breakpoints
$breakpoints: (
	650px,
	750px,
	1024px,
	1150px,
	1280px,
	1375px,
	1500px,
	1600px,
	1750px,
	1900px,
	2000px,
	2100px,
	2200px,
);

// lengths, size, distances, ...
$rule: 2rem;