.content-main
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-grow: 1;

	@include breakpoint( 3 )
	{
		justify-content: space-between;
		width: 60%;
	}

	>p
	{
		@include paragraph;
	}
}